<!doctype html>

<html>
  <head>
    <title>About PennyLedger</title>
    <style>
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}
table {
    border: 1px solid #999999;
    border-collapse:collapse;
}
table td,
table th {
    border: 1px solid #999999;
    padding: 0.25em 0.5em;
}
table th {
	text-align: left;
}
    </style>
  </head>
  <body>
    <h1>About PennyLedger</h1>
    <p>PennyLedger was written by Kevin Holloway (kholloway@geckosoftware.com.au)</p>
    <p>Hello there!</p>
  </body>
</html>
